#botao{
   position: relative;
   background-color: rgb(218, 27, 27);
   top:12em;
   width: 100%


}
/*para fundo use background-color*/
#botao2{
    position: relative;
    background-color: rgb(218, 27, 27);
    top:4em;
    width: 100%
 }
 #rodape{
    position: relative;
    top:40em; /*44*/
    width: 100%;
}
#rodape1{
    position: relative;
    top:30em; /*44*/
    width: 100%;
}
#rodape2{
    position: relative;
    top:8em; /*44*/
    width: 122%;
}
/* para letras use color */
#h1{
    position: absolute;
    color: brown;
    left: 4%;
    top: 2em
}

.carousel-inner{
    position: relative;
    top: 4em;
    width: 100%;
    height: 80%;
}

.navbar-brand{
    position: relative;
    color: brown;
}

#submenu{
    background-color:#343a40
}

.dropdown-item{
    color: rgb(255, 255, 255)

}

#google{
    position: relative;
    background-color: rgb(177, 8, 8);
    top: 1em;
    height: 100%;
    width: 70%;
    left: 20%;
}

#avanca{
    position: relative;
    background-color: rgb(2, 78, 53);
    top: 15em;
    left: 70%;
}

#email{
    position: relative;
    top: 1em;
}
#email1{
    position: relative;
    top: -3em;
}

#login{
    position: relative;
    top: 1em;
    left: 75%;
}

#google1{
    position: relative;
    background-color: rgb(22, 2, 131);
    top: 20em;
    height: 100%;
    width: 70%;
    left: 20%;
}

.input-group-prepend{
    position: relative;
    width: 19%;
}
.input-group mb-3{
    position: relative;
    width: 19%;
}
#aavan{
    position: relative;
    top: 2em;
    left: 80%;
}
#aaavan{
    position: relative;
    top: -1em;
    left: 60%;
}
#van{
    position: relative;
    top: 1em;
    left: 10%;
}
#volta{
    position: relative;
    top: -1em;
    left: -20%;
}
#ped{
    position: relative;
    top: 10em;
    left: 60%;
}


#sexo{
    position: relative;
    top:-9em;
    left: 23%;
}
#sexo1{
    position: relative;
    top:-2.5em;
    left: 23%;
}
#sexo2{
    position: relative;
    top:-13.3em;
    left: 23%;
}
#h2{
    position: relative;
    color: rgb(13, 10, 180)
}
#lo{
    position: relative;
    top: 11%;
}
#loo{
    position: relative;
    top: 10%;
}
